a {
color: black;
    background-color: grey;
}

.img-thumbnail{
    padding-top: 20px;
    padding-bottom: 20px;
    border: none;
}

.content {
    padding-top: 100px;
    padding-left: 10%;
    padding-right: 10%;
}

.row {
    padding-top: 60px;
    padding-left:20px;
    padding-right:20px;
}

.footer {
  background: #70726F;
  padding: 10px 0;
}
.footer a {
  color: white;
  font-size: 30px;
  padding: 10px;
  border-right: 1px solid #70726F;
  transition: all .5s ease;
}
.footer a:first-child {
  border-left: 1px solid #70726F;
}
.footer a:hover {
  color: green;
}