<body>
<div class="content">
<center>
<h4>The Value of Money</h4>
<p><img src="./img/logo.png" alt="Logo" width="100" height="100" align="left"> The value of money is ever changing.  Compare the value of a sum of money now to thirty years ago and I guarantee that you’d get a lot more bang for your buck thirty years ago.  My grandma loves telling us about the good old days, and the good old days consisted of fifty-cent movies and twenty-gallon gas tanks that rang in at five dollars a pop.  Now a days, movies can cost you up to twenty-five dollars with all the bells and whistles of the VIP theater experience, and gas prices continue to fluctuate on the pricier side, costing you close to and if not directly within the hundred-dollar range.  Movies and gas are just two examples, almost everything we consume or purchase has increased in price over the years, and it will continue to do so for years to come.</p>
<hr>
<h4>GMO food</h4>
<p> <img src="./img/logo.png" alt="Logo" width="100" height="100" align="left"> G.M.O.  Three very scary letters.  Our consumer society, however, does not seem to understand the very frightening and detrimental impact that these three letters have on our lives.  GMO stands for genetically modified organism.  Esentially, foods that are genetically modified organisms will have added preservatives or will have not been produced/processed organically, thus altering the nutrient make-up of the food, and making it quite dangerous and unhealthy to consume.  There have been countless studies concluding that GMOs have a long-term negative impact on our health.  That's why is it important for us as consumers to be aware of the food we purchase at the store, and do ensure that we are buying as organic as possible.  This can be easily done by reading the ingredients on product labels, and looking for the none GMO labels on certain foods.  </p>
<hr>
<h4>The View of World in 2100</h4>
<p><img src="./img/logo.png" alt="Logo" width="100" height="100" align="left"> How does our world look in 2100?  This all depends on how we treat our world today.  Some may say that there will be floating cars and houses, others may say there will be technological advancements beyond our wildest dreams; however, these fantasies of the world will not exist if we do not treat our wold kindly today.  We need to live more minimalistic and economically friendly lives in order to ensure for a prosperous and promising future. </p>
<hr>
</center>
</div>
</body>


<footer class="footer">
  <div class="container text-center">
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-instagram"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
  </div>
</footer>